.olist {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.btn {
  max-width: 100%;
  padding: 8px 16px;
  outline: none;
  border: 1px solid darkred;
  border-radius: 10px;
  background-color: transparent;
  font-size: 14px;
  color: darkred;
}
.btn:hover {
  border: 1px solid yellowgreen;
  background-color: bisque;
}
